{# templates/imuvideos.html.twig #}
{# {% extends 'base.html.twig' %} #}
{% trans_default_domain 'messages' %}

{% block title %}Mbl-SmartFrame{% endblock %}

{% block stylesheets %}
  <style>
    .screenshots {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 15px;
    }

    .screenshot {
      width: 120px;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      object-fit: cover;
    }

    @media (max-width: 600px) {
      .screenshot {
        width: 80px;
      }
    }
  </style>
{% endblock %}



{% block body %}
<div class="container">
  <h1>
    Mbl-SmartFrame
    <a href="/downloads/mbl/mbl-smartFrame.apk" download
       style="display:inline-flex;align-items:center;justify-content:center;
              border:2px solid #4c93afff;border-radius:8px;padding:6px 10px;
              background-color:#f9fff9;color:#333;text-decoration:none;
              font-weight:500;transition:0.3s;">
      <img class="logo" src="{{ asset('image/icon/mbl_logo.png') }}" alt="Logo Mbl-SmartFrame" style="width:25px;height:25px;margin-right:8px;">
      {{ 'download_apk'|trans }}
    </a>
  </h1>

  <img src="{{ asset('image/mbl/banner.png') }}" alt="Mbl-SmartFrame" style="width:50px;height:50px;margin-right:8px;">

  <div class="screenshots">
    {% for capture in captures %}
      <img src="{{ asset('image/mbl/captures/' ~ capture) }}" alt="{{ 'screenshot'|trans({'#': loop.index}) }}" class="screenshot">
    {% endfor %}
  </div>

  {# <div class="description">
    <p>
      <strong>{{ 'app_name'|trans }}</strong>
      {{ 'app_description'|trans }}
    </p>
  </div> #}
</div>
{% endblock %}
