{% extends 'base.html.twig' %}

{% block title %}FalkonANK{% endblock %}

{% block body %}
	{# css #}
	<link rel="stylesheet" href={{asset("css/home.css")}}>
	<div
		class="example-wrapper">

		<!-- Header -->
		<header>
			<div class="div-header">
				<div class="scrolling-text">
					<div class="ads-wrapper">
						{% for ads in adss %}
							{% if ads.title == 'ads' %}
								<a href="{{ ads.urlAds }}" class="ads-item">{{ ads.description }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				{# <span>Alimentação & Qualidade. Conexão direta com os comerciantes locais em Cabo Verde!</span> #}

				<select id="category-select" class="category-menu">
					<option disabled selected>Escolhe un Kategoria</option>
					{% for category in categories %}
						{% if category.name is defined and category.name is not empty %}
							<option value="{{ path('products_by_category', {'name': category.name}) }}">
								{{ category.name }}
							</option>
						{% endif %}
					{% endfor %}
				</select>
				<a href="{{ path('app_shop_all') }}" class="btn btn-primary">
					<span>Nos Lojas</span>
				</a>
				{#-----------------------Carousel Controls------------------------------------------------------- #}
				{# {% include "layout/carousel.html.twig" %} #}
				{#------------FIN de Carousel Controls------------------------------------------------------------------ #}

			</div>


		</header>
		<!-- Fin du header -->

		<!-- Section principale -->
		<section
			class="main">
			{# ----bootstrap card #}
			<div class="dvgeneralCardsP">

				<div class="cards">
					{% for produit in products %}
						{% if produit.shop.active == true and produit.active == true and produit.stock > 4 %}
							<div class="card" style="width: 18rem;">
								<a href="{{ path('app_product_show', {'id': produit.id}) }}">
									<img class="card-img-top" src="{{asset('upload/images/products/' ~ produit.img )}}" alt="Card image cap">
								</a>
								<div class="card-body">
									<h5 class="card-title">{{ produit.name }}</h5>
									{# <p class="card-text">{{ produit.label }}.</p> #}
									{# <a href="#" class="btn btn-primary"> #}

									<div class="prix">
										<h4>
											{# {{ produit.price/100 }} #}
											{{ (produit.getFinalPrice/ 100)|number_format(2, ',', '.') }}
											CVE
										</h4>
									</div>

									{% if produit.stock > 0 %}
										{% if app.user %}
											{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_MERCHANT' in app.user.roles %}
												<p class="p_a_c">para compras - criar uma conta simplis
												</p>
											{% else %}
												<a href="{{ path('app_add', {'id': produit.id}) }}">
													<button type="button" class="btn btn-success">adicionar ao Carrinho
														<i class="fas fa-shopping-cart"></i>
													</button>
												</a>
											{% endif %}
										{% else %}
											<a href="{{ path('app_add', {'id': produit.id}) }}">
												<button type="button" class="btn btn-success">adicionar ao Carrinho
													<i class="fas fa-shopping-cart"></i>
												</button>
											</a>
										{% endif %}
									{% else %}
										<p class="ruptureStock">Rupture de stock</p>
									{% endif %}
									{% if produit.getShop() %}
										<p class="loja">
											<a href="{{ path('app_shop_loja', {'id': produit.getShop().id}) }}">
												<strong>Loja:</strong>
												{{ produit.getShop().getName() }}
											</a>
										</p>
									{% endif %}
									<p class="city">
										<strong>Localidade:</strong>
										{{ produit.getShop().getCity() }}</p>

								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			{# fim de bootstrap card #}

		</section>
		<!-- Fin de la section principale -->

	<!-- Pied de page -->
		{# <footer>
																																													 <p>&copy; Contactez-nous au 07 00 77 90 00</p>
																																													 <div class="social-media">
																																													   <p><i class="fab fa-facebook-f"></i></p>
																																													   <p><i class="fab fa-twitter"></i></p>
																																													   <p><i class="fab fa-instagram"></i></p>
																																													   <p><i class="fab fa-linkedin-in"></i></p>
																																													 </div>
																																													</footer> #}
		<!-- Fin du pied de page -->

	</div>
{% endblock %}
