<h1>{{ 'invoiceS.title'|trans }}</h1>

<p>
    {{ 'invoiceS.number'|trans }} :
    {{ invoiceS.invoiceNumber }}
</p>

<p>
    {{ 'invoiceS.client'|trans }} :
    {{ user.firstName }}
    {{ user.lastName }}
</p>

<p>
    {{ 'invoiceS.email'|trans }} :
    {{ user.email }}
</p>


<table border="1" width="100%">

<tr>
    <th>{{ 'invoiceS.description'|trans }}</th>
    <th>{{ 'invoiceS.amount'|trans }}</th>
</tr>


<tr>
    <td>
        {{ 'invoiceS.subscription_description'|trans }}
    </td>

    <td>
        {{ amount }} {{ currency }}
    </td>
</tr>

</table>


<h3>
    {{ 'invoiceS.total'|trans }} :
    {{ amount }} {{ currency }}
</h3>