{% extends 'base.html.twig' %}

{% block title %}
    {{ 'register.title'|trans }}
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/register.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<br>

<div class="container_register">

    <div id="d_head">
        <h1>{{ 'register.heading'|trans }}</h1>
    </div>

    <hr class="hr1">

    {# Flash error email verification #}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}

    {{ form_start(registrationForm) }}

    {# Email #}
    <div class="form-group">
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    {# Password #}
    <div class="form-group my-password-field">
        {{ form_widget(registrationForm.plainPassword, {
            'attr': {
                'data-toggle': 'password',
                'class': registrationForm.plainPassword.vars.errors|length ? 'is-invalid' : ''
            }
        }) }}
        <i class="fa fa-eye toggle-password"></i>
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    {# Confirm Password #}
    <div class="form-group my-password-field">
        {{ form_widget(registrationForm.confirmPassword, {
            'attr': {
                'data-toggle': 'password',
                'class': registrationForm.confirmPassword.vars.errors|length ? 'is-invalid' : ''
            }
        }) }}
        <i class="fa fa-eye toggle-password"></i>
        {{ form_errors(registrationForm.confirmPassword) }}
    </div>

    {# First name #}
    <div class="form-group">
        {{ form_widget(registrationForm.first_name) }}
    </div>

    {# Last name #}
    <div class="form-group">
        {{ form_widget(registrationForm.last_name) }}
    </div>

    {# Address #}
    <div class="form-group">
        {{ form_widget(registrationForm.adress) }}
    </div>

    {# Terms and Conditions #}
    <div class="form-check mb-3">
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_errors(registrationForm.agreeTerms) }}
        <span class="ms-2">
            {{ 'register.accept_prefix'|trans }}
            <a href="{{ path('agree_terms') }}" target="_blank">
                {{ 'register.terms_link'|trans }}
            </a>
        </span>
    </div>

    {# Submit #}
    <input
        type="submit"
        id="submit"
        value="{{ 'register.submit'|trans }}"
    >

    {{ form_end(registrationForm) }}
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const passwordFields = document.querySelectorAll('[data-toggle="password"]');
    passwordFields.forEach(field => {
        const toggleIcon = field.parentElement.querySelector('.toggle-password');
        toggleIcon.addEventListener('click', function () {
            const type = field.getAttribute('type') === 'password' ? 'text' : 'password';
            field.setAttribute('type', type);
            toggleIcon.classList.toggle('fa-eye');
            toggleIcon.classList.toggle('fa-eye-slash');
        });
    });
});
</script>

{% endblock %}
