<h2>{{ 'email.purchase.title'|trans }}</h2>

<p>
    {{ 'email.purchase.hello'|trans({'%name%': customerName}) }}
</p>

<p>
    {{ 'email.purchase.payment_success'|trans }}
</p>

<p>
    {{ 'email.purchase.album'|trans }}
    <strong>{{ albumName }}</strong>
</p>

<p>
    {{ 'email.purchase.amount_paid'|trans }}
    <strong>{{ amountPaid }} {{ currency }}</strong>
</p>

<p>
    {{ 'email.purchase.invoice_attached'|trans }}
</p>

<br>

<h3>{{ 'email.purchase.billing_address'|trans }}</h3>

<p>
    {{ customerCountry }}
</p>
