<h2>{{ 'subscription_email.title'|trans }} 🎵</h2>

<p>
    {{ 'subscription_email.hello'|trans }} {{ user.firstName }},
</p>

<p>
    {{ 'subscription_email.active'|trans }}
</p>

<p>
    {{ 'subscription_email.amount'|trans }} :
    <strong>
        {{ amount }} {{ currency }}
    </strong>
</p>

<p>
    {{ 'subscription_email.invoice_attached'|trans }}
</p>

<p>
    {{ 'subscription_email.thanks'|trans }}
</p>

<p>
    {{ 'subscription_email.signature'|trans }}
</p>