{% extends 'base.html.twig' %}

{% block title %}{{ 'basket.index.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'basket.index.heading'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'basket.id'|trans }}</th>
                <th>{{ 'basket.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td>{{ basket.id }}</td>
                <td>
                    <a href="{{ path('app_basket_show', {'id': basket.id}) }}">
                        {{ 'basket.show'|trans }}
                    </a>
                    |
                    <a href="{{ path('app_basket_edit', {'id': basket.id}) }}">
                        {{ 'basket.edit'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center text-muted">
                    {{ 'basket.no_records'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_basket_new') }}" class="btn btn-primary">
        {{ 'basket.create_new'|trans }}
    </a>
{% endblock %}
