{% extends 'base.html.twig' %}

{% block title %}{{ 'basket.new.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'basket.new.heading'|trans }}</h1>

    {{ include('basket/_form.html.twig') }}

    <a href="{{ path('app_basket_index') }}" class="btn btn-secondary mt-3">
        {{ 'basket.back_to_list'|trans }}
    </a>
{% endblock %}
