{% extends 'base.html.twig' %}

{% block title %}Modificar Dados Pessoais{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/register.css') }}">

<div class="container_register">
    <div id="d_head">
        <p>
            <a class="btn-voltar" href="{{ path('app_user_show') }}">Voltar Atrás</a>
        </p>
        <h1>Modificar os Dados Pessoais</h1>
    </div>

    <hr class="hr1">

    {% if error is defined and error is not empty %}
        <div class="errors" style="color: oronge;">
            <ul>
                <li>{{ error }}</li>
            </ul>
        </div>
    {% endif %}

    <form action="{{ path('app_user_edit', {'id': app.user.id}) }}" method="post">
        <p>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="{{ app.user.email }}">
        </p>

        <p>
            <label for="firstName">Nome:</label><br>
            <input type="text" id="firstName" name="firstName" placeholder="{{ app.user.firstName }}">
        </p>

        <p>
            <label for="lastName">Sobrenome (apelidos):</label><br>
            <input type="text" id="lastName" name="lastName" value placeholder="{{ app.user.lastName }}">
        </p>

        <p>
            <label for="adress">Endereço:</label><br>
            <input type="text" id="adress" name="adress" placeholder="{{ app.user.adress }}">
        </p>

        <p>
            <input type="submit" id="submit" value="Modificar">
        </p>
    </form>
</div>
{% endblock %}
